---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Tag from "../../components/Tag.astro";
import FormattedDate from "../../components/FormattedDate.astro";

// Define the Props type for the component
type Props = {
	article: CollectionEntry<"articles">;
};

export async function getStaticPaths() {
	const allArticles = await getCollection("articles");

	return allArticles.map((article: CollectionEntry<"articles">) => ({
		params: { slug: article.slug },
		props: { article },
	}));
}

const { article } = Astro.props as Props;
const { Content } = await article.render();
---

<BaseLayout title={article.data.title}>
	<article class="djne-full-article">
		<div class="djne-container djne-flow" data-type="narrow">
			<section class="djne-section | djne-padding-block-end-2">
				<div class="meta">
					<div class="djne-flex-group djne-align-center">
						<div class="djne-flex-group">
							{article.data.tags.map((tag: string, i: number) => <Tag tag={article.data.tags[i]}>{tag}</Tag>)}
						</div>
						<FormattedDate date={article.data.date} />
					</div>
					<a href="#" class="djne-flex-group djne-align-center" style="--flex-column-gap: .25rem">
						<img src="/images/share.svg" class="share-icon" alt="" />
						<span>Share</span>
					</a>
				</div>
				<h1 class="djne-heading-2 djne-margin-block-4">{article.data.title}</h1>
				<p class="djne-full-article-subtitle djne-margin-block-end-4">{article.data.subtitle}</p>
			</section>
		</div>
		<div class="djne-container djne-flow" data-type="full-bleed">
			<section>
				<img src=`/images/articles/${article.data.imageSrc}` alt={article.data.imageAlt} />
			</section>
		</div>
		<div class="djne-container" data-type="narrow">
			<section class="djne-section djne-flow | djne-padding-block-start-8">
				<Content />
			</section>
		</div>
	</article>
</BaseLayout>

<style lang="scss">
	@use "../../styles/abstracts" as *;

	.meta {
		display: flex;
		gap: 1rem;
		justify-content: space-between;
		width: 100%;
		font-size: $font-size-400;
	}
	.share-icon {
		width: 26px;
		aspect-ratio: 1;
		filter: brightness(0) saturate(100%) invert(15%) sepia(71%) saturate(2518%) hue-rotate(195deg) brightness(93%) contrast(103%);

		&:hover,
		&:focus-visible {
			filter: brightness(0) saturate(100%) invert(13%) sepia(47%) saturate(1381%) hue-rotate(177deg) brightness(92%) contrast(105%);
		}
	}
</style>
