---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ArticlePreview from "../../components/ArticlePreview.astro";
import AboutTheAuthor from "../../components/AboutTheAuthor.astro";
import NewsletterCTA from "../../components/NewsletterCTA.astro";

export async function getStaticPaths() {
	const allArticles = await getCollection("articles");
	allArticles.sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date));

	// create an array of all the authors, with no repeats
	const uniqueAuthors = [...new Set(allArticles.map((article) => article.data.author).flat())];

	// map over the above to create a page for each author
	return uniqueAuthors.map((author) => {
		const slugFriendlyAuthor = author.toLowerCase().replace(/\s+/g, "-");
		const filteredArticles = allArticles.filter((article) => article.data.author.includes(author));

		return {
			params: { author: slugFriendlyAuthor },
			props: {
				articles: filteredArticles,
				author: author,
			},
		};
	});
}

const { articles, author } = Astro.props;
const pageTitle = author + " | Travel Food Fun";

const allAuthors = await Astro.glob("../../content/authors/*.json");
const articleAuthor = author;
const authorInfo = allAuthors.find(function (author) {
	return author.name === articleAuthor;
});
---

<BaseLayout title={pageTitle}>
	<div class="djne-container djne-flow">
		<section class="djne-section">
			<h1 class="djne-heading-2 djne-margin-block-end-8">{author} Articles</h1>
			<p class="djne-margin-block-end-8">The following articles are written by <span class="djne-fw-bold">{author}</span>.</p>
			<div class="djne-grid-auto-fit">
				{articles.map((article) => <ArticlePreview {article} excerptLength="20" />)}
			</div>
			<div class="djne-margin-block-start-12">
				<AboutTheAuthor name={authorInfo?.name} description={authorInfo?.description} image={authorInfo?.image} />
			</div>
		</section>
	</div>
	<div class="djne-container djne-margin-block-end-12" data-type="narrow">
		<NewsletterCTA withImage />
	</div>
</BaseLayout>
